Repository mandiant/flare-vm, pull requests merged in 2025-04, with the labels that each got.

#676 [config] Remove libraries-extra.python3.vm
  config.xml
Labels: :page_facing_up: config

#672 Update installer to organize packages by categories
  install.ps1
Labels: :gem: enhancement

#677 Add support for installing custom locales
  config.xml
Labels: :gem: enhancement

#685 [config] Add new packages
  config.xml
Labels: :page_facing_up: config

#686 [config] Add psnotify
  config.xml
Labels: :page_facing_up: config

#689 Minor bug fixes in vbox-build-flare-vm.py
  virtualbox/configs/win10_flare-vm.yaml
  virtualbox/vbox-build-flare-vm.py
Labels: :bug: bug, :desktop_computer: virtualbox
