Repository mandiant/flare-vm, pull requests merged in 2025-07, with the labels that each got.

#706 [vbox, config] Decouple FLARE-EDU
  config.xml
  virtualbox/configs/win10_flare-vm-edu.yaml
  virtualbox/configs/win10_flare-vm.yaml
Labels: :desktop_computer: virtualbox, :page_facing_up: config

#711 Remove dnscache change from config to fix Win11 internet
  config.xml
Labels: :bug: bug, :page_facing_up: config

#712 [config] Add Advanced Installer
  config.xml
Labels: :page_facing_up: config
